*{
    margin: 0;
    padding: 0;
}
body{
    width: 1280px;
    height: 1626px;
    font-family: Roboto;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    margin: 32px 371px 35px 332px;
    padding: 0;
}
.li2{
    margin-left: 65px;
}
.li3{
    margin-left: 70px;
}
.li4{
    margin-left: 78px;
}
ul li{
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    
}
ul li a{
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
}
img{
    width: 1280px;
    height: 790px;
}
.text{
    width: 1280px;
height: 650px;
    color:  #373737;
    background-color: #f2f3f4;
}
h1{
    padding-top: 56px;
    
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.text p{
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin: 34px 108px 41px 113px;
}
button{
    margin-left: 527px;
    border: none;
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;  
}
button span{
    font-family: GothamRounded;
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}
.copy{
    margin-top: 47px;
    margin-right: 104px;
    text-align: right;
}
.copy span{
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
}
